
    .main {
        height: 100vh;
    }
    .sidebar {
        background: rgb(94, 94, 94);
        color: white;
    }
    .sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px 15%;

    }
    .sidebar a:hover {
        background: rgb(24, 23, 23);
    }
    .sidebar a.logout:hover {
        background: rgb(218, 0, 0);
    }
    .active {
        background: rgb(24, 23, 23);
        border-right: solid 8px orange;
    }
    .card-data {
        border: solid 1px;
        padding: 20px 50px;
        color: #fff;
    }
    .card-data.book {
        background-color: teal;
    }
    .card-data.category {
        background-color: rgb(195, 52, 0);
    }
    .card-data.user {
        background-color: rgb(0, 0, 184);
    }
    .card-data i {
        font-size: 80px;
    }
    .card-desc {
        font-size: 30px;
    }
    .card-count {
        font-size: 30px;

    }